<div id="first">

    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">ДОСТАВКА
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#/home">Главная</a>
                    </li>
                    <li class="active">Доставка</li>
                </ol>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-12">

                <div class="panel-group">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4> ООО "Строй древ" производит доставку гранитного щебня только Ж/Д транспортом, в любые
                                регионы РФ </h4>
                        </div>
                        <div class="panel-heading">
                            <h4> Отгрузка с известнякового карьера производится только автомобильным транспортом.</h4>
                        </div>
                        <div class="panel-heading">
                            <h4> Возможен самовывоз и доставка.</h4>
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li>Щебень из первых рук</li>
                                <li>Наличие собственной сырьевой базы</li>
                                <li>Постоянное наличие щебня на площадке</li>
                                <li>Гибкий подход к каждому клиенту</li>
                                <li>Удобные подъездные пути</li>
                                <li>Близость к третьей "бетонке"</li>
                                <li>Возможен круглогодичный подъезд.</li>
                                <li>Мы можем сами провести погрузку, а затем доставить строительные материалы до места
                                    назначения.
                                </li>
                                <li>В случае самовывоза наше предприятие гарантирует своевременную и точную отгрузку.
                                </li>
                                <li>На погрузке ведется видеосъемка, взвешивание осуществляется на электронных весах
                                </li>
                                <li>Ориентировочная цена на услуги по перевозке сыпучих материалов при минимальном
                                    заказе
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->
</div><!---->
<div class="section" id="partners">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <hr>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
