<div id="first">

    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">ДОСТАВКА
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#/home">Главная</a>
                    </li>
                    <li class="active">Доставка</li>
                </ol>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-12">

                <div class="panel-group">

                    <ul class="list-group deliver">
                        <li class="list-group-item deliver">
                            Доставка гранитного щебня осущевстляется Ж/Д транспортом и авто транспортом, в любые регионы РФ
                        </li>
                    </ul>
                    <ul class="list-group deliver">
                        <li class="list-group-item deliver">
                            Отгрузка с известнякового карьера производится только автомобильным транспортом
                        </li>
                    </ul>
                    <ul class="list-group deliver">
                        <li class="list-group-item deliver">
                            В случае самовывоза наше предприятие гарантирует своевременную и точную отгрузку
                        </li>
                    </ul>
                    <ul class="list-group deliver">
                        <li class="list-group-item deliver">
                            На погрузке ведется видеосъемка, взвешивание осуществляется на электронных весах
                        </li>
                    </ul>
                    <ul class="list-group deliver">
                        <li class="list-group-item deliver">
                            Ориентировочная цена на услуги по перевозке сыпучих материалов при минимальном заказе
                        </li>
                    </ul>
                    <ul class="list-group deliver">
                        <li class="list-group-item deliver">
                            Щебень из первых рук
                        </li>
                    </ul>
                    <ul class="list-group deliver">
                        <li class="list-group-item deliver">
                            Наличие собственной сырьевой базы
                        </li>
                    </ul>
                    <ul class="list-group deliver">
                        <li class="list-group-item deliver">
                            Постоянное наличие щебня на площадке
                        </li>
                    </ul>
                    <ul class="list-group deliver">
                        <li class="list-group-item deliver">
                            Гибкий подход к каждому клиенту
                        </li>
                    </ul>
                    <ul class="list-group deliver">
                        <li class="list-group-item deliver">
                            Близость к третьей "бетонке"
                        </li>
                    </ul>
                    <ul class="list-group deliver">
                        <li class="list-group-item deliver">
                            Удобные подъездные пути
                        </li>
                    </ul>
                    <ul class="list-group deliver">
                        <li class="list-group-item deliver">
                            Возможен круглогодичный подъезд
                        </li>
                    </ul>
                </div>

            </div>

        </div>

    </div>

</div>
<!-- /.container -->
<div class="section" id="partners">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <hr>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
