<div id="first">

    <div class="section short-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 welcome">
                    <h1 class="welcome-title" align="center">
                        ПОСТАВКА НЕРУДНЫХ МАТЕРИАЛОВ НАПРЯМУЮ С КАРЬЕРОВ
                    </h1>
                </div>
            </div>
        </div>
    </div>


    <div class="section short-bottom">

        <div class="container">

            <div class="row first-level">
                <div class="col-lg-6 col-md-6 col-sm-6 titles">
                    <ul class="list-group desc" ng-repeat="item in titles">
                        <li class="list-group-item desc">{{item.name.toUpperCase()}}</li>
                    </ul>
                    <!--<h2 align="center">ООО "Строй-Древ"</h2>-->
                    <!--<ul>-->
                        <!--<li>Мы уверены, что в лице нашей компании Вы найдете достойного партнера для Вашего бизнеса</li>-->
                        <!--<li>Компания ООО «СТРОЙ-ДРЕВ» уже более 15 лет работает на рынке поставок щебня и является-->
                            <!--дилером российских производителей-->
                        <!--</li>-->
                        <!--<li>Высокий профессионализм наших сотрудников и большой выбор предлагаемой продукции</li>-->
                        <!--<li>Для удобства наших клиентов мы можем предложить качественный и необходимый товар</li>-->
                        <!--<li>Наш ассортимент постоянно обновляется в связи с пожеланиями и потребностями наших клиентов-->
                        <!--</li>-->
                        <!--<li>Вы можете приобрести любой материал в одном месте</li>-->
                    <!--</ul>-->
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <!--<img class="img-responsive" src="http://placehold.it/700x450/ffffff/cccccc">-->
                    <img class="img-responsive" ng-src="{{homeLogo}}" style="margin-top: 20px">

                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>

    <div class="section middle" >
        <!-- Service Tabs -->
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12 favor">
                    <h2 class="page-header" align="center">СЕРТИФИКАТЫ</h2>
                    <div class="col-xs-3" ng-repeat="image in certificates">
                        <a ng-click="openLightboxModal($index)">
                            <img ng-src="{{image.thumbUrl}}" class="img-thumbnail img-responsive" alt="" width="300"
                                 height="429">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>

    <!-- /.section-colored -->
    <div class="section" id="second">

        <div class="container">

            <div class="row second-level">
                <div class="col-lg-6 col-md-6 col-sm-6" >
                    <img class="img-responsive border" ng-src="{{image}}">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h2 align="center">ЩЕБЕНЬ</h2>
                    <ul class="list-group desc" ng-repeat="item in desc">
                        <li class="list-group-item desc" ng-mouseover="pick(item.id)">{{item.name.toUpperCase()}}</li>
                    </ul>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->
        <br>
    </div>
    <!-- /.section -->
</div>

<div class="section" id="partners">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="page-header" align="center">НАШИ ПАРТНЕРЫ</h2>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <!--<a href="http://www.granit.by" target="_blank">-->
                    <img class="img-responsive img-home-portfolio" ng-src="{{partner1}}">
                <!--</a>-->
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <!--<a href="http://www.pogorelovskiykarier.ru" target="_blank">-->
                    <img class="img-responsive img-home-portfolio"  ng-src="{{partner2}}">
                <!--</a>-->
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->
