<div id="first">
    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">ПРАЙС-ЛИСТ
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#/home">Главная</a>
                    </li>
                    <li class="active">Цены</li>
                </ol>
            </div>

        </div>

        <div class="row">
            <h2 align="center" style="color: white; margin-top: 0px;"> Гранитный щебень </h2>
            <hr>
            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>Щебень фракции: <br>
                            5-20 мм</strong>
                    </div>
                    <div class="panel-body" style="color: black">
                        <h3 class="panel-title price">980
                            <span class="price-cents">руб *</span>
                            <!--<span class="price-month"></span>-->
                        </h3>
                    </div>
                    <ul class="list-group" style="color: black">
                        <li class="list-group-item">Цена за 1 тонну с учетом НДС</li>
                        <li class="list-group-item">Цена без учета перевалки</li>

                        <li class="list-group-item">
                            Доставка в полувагонах до станций: <br>
                            <strong> Аэропорт, Домодедово, Лобня, Силикатная, Сходня, Химки </strong>
                        </li>
                        <li class="list-group-item">Поставка с месторождения <br>
                            <strong>"Пруды"</strong>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading" >
                        <strong>Щебень фракции: <br>
                            20-40 мм, 40-70 мм</strong>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price" style="color: black">850
                            <span class="price-cents">руб *</span>
                            <!--<span class="price-month">mo.</span>-->
                        </h3>
                    </div>
                    <ul class="list-group" style="color: black">
                        <li class="list-group-item">Цена за 1 тонну с учетом НДС</li>
                        <li class="list-group-item">Цена без учета перевалки</li>
                        <li class="list-group-item">
                            Доставка в полувагонах до станций: <br>
                            <strong> Аэропорт, Домодедово, Лобня, Силикатная, Сходня, Химки </strong>
                        </li>
                        <li class="list-group-item">Поставка с месторождения <br>
                            <strong>"Пруды"</strong>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>Щебень фракции: <br>
                            5-20 мм</strong>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price" style="color: black">1050
                            <span class="price-cents">руб *</span>
                        </h3>
                    </div>
                    <ul class="list-group" style="color: black">
                        <li class="list-group-item">Цена за 1 тонну с учетом НДС</li>
                        <li class="list-group-item">Цена без учета перевалки</li>
                        <li class="list-group-item">
                            Доставка в полувагонах до станций: <br>
                            <strong> Аэропорт, Домодедово, Лобня, Силикатная, Сходня, Химки </strong>
                        </li>
                        <li class="list-group-item">Поставка с месторождения <br>
                            <strong>"Кузнечное"</strong>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>Щебень фракции: <br>
                            20-40 мм, 40-70 мм</strong>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price" style="color: black">850
                            <span class="price-cents">руб *</span>
                        </h3>
                    </div>
                    <ul class="list-group" style="color: black">
                        <li class="list-group-item">Цена за 1 тонну с учетом НДС</li>
                        <li class="list-group-item">Цена без учета перевалки</li>
                        <li class="list-group-item">
                            Доставка в полувагонах до станций: <br>
                            <strong> Аэропорт, Домодедово, Лобня, Силикатная, Сходня, Химки </strong>
                        </li>
                        <li class="list-group-item">Поставка с месторождения <br>
                            <strong>"Кузнечное"</strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <h2 align="center"  style="color: white"> Известняковый щебень </h2>
            <hr>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>Щебень фракции: <br>
                            5-20 мм</strong>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price" style="color: black">520
                            <span class="price-cents">руб *</span>
                        </h3>
                    </div>
                    <ul class="list-group" style="color: black">
                        <li class="list-group-item">Цена за 1 тонну с учетом НДС</li>
                        <li class="list-group-item">Цена без учета перевалки</li>
                        <!--<li class="list-group-item">-->
                        <!--Доставка в полувагонах до станций: <br>-->
                        <!--<strong>   Аэропорт, Домодедово, Лобня, Силикатная, Сходня, Химки  </strong>-->
                        <!--</li>-->
                        <li class="list-group-item">Поставка с месторождения <br>
                            <strong>"Пронский"</strong>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>Щебень фракции: <br>
                            20-40 мм, 40-70 мм</strong>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price" style="color: black">550
                            <span class="price-cents">руб *</span>
                            <!--<span class="price-month">mo.</span>-->
                        </h3>
                    </div>
                    <ul class="list-group" style="color: black">
                        <li class="list-group-item">Цена за 1 тонну с учетом НДС</li>
                        <li class="list-group-item">Цена без учета перевалки</li>
                        <li class="list-group-item">Поставка с месторождения <br>
                            <strong>"Пронский"</strong>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">

            </div>
        </div>

    </div>
    <!-- /.container -->
</div>

<div class="section" id="partners">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 align="center"  style="color: #df7e0a;">* За точной информацией пожалуйста обращайтесь к нашим менеджерам по телефону +7 (499) 750-16-76 </h3>
                <hr>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
