<div id="first">
    <div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">ПРАЙС-ЛИСТ
            </h1>
            <ol class="breadcrumb">
                <li><a href="#/home">Главная</a>
                </li>
                <li class="active">Цены</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <strong>Щебень фракции: <br>
                        5-20 мм</strong>
                </div>
                <div class="panel-body">
                    <h3 class="panel-title price">980
                        <span class="price-cents">руб</span>
                        <!--<span class="price-month"></span>-->
                    </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Цена за 1 тонну</li>
                    <li class="list-group-item">Цена с учетом НДС</li>
                    <li class="list-group-item">Цена без учета перевалки</li>

                    <li class="list-group-item">
                        Доставка в полувагонах до станций: <br>
                        Аэропорт, Домодедово, Лобня, Силикатная, Сходня, Химки
                    </li>
                    <li class="list-group-item divider"></li>
                    <li class="list-group-item">Поставка с месторождения <br>
                        <strong>"Пруды"</strong>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <strong>Щебень фракции: <br>
                        20-40 мм, 40-70 мм</strong>
                </div>
                <div class="panel-body">
                    <h3 class="panel-title price">850
                        <span class="price-cents">руб</span>
                        <!--<span class="price-month">mo.</span>-->
                    </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Цена за 1 тонну</li>
                    <li class="list-group-item">Цена с учетом НДС</li>
                    <li class="list-group-item">Цена без учета перевалки</li>
                    <li class="list-group-item">
                        Доставка в полувагонах до станций: <br>
                        Аэропорт, Домодедово, Лобня, Силикатная, Сходня, Химки
                    </li>
                    <li class="list-group-item divider"></li>
                    <li class="list-group-item">Поставка с месторождения <br>
                        <strong>"Пруды"</strong>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <strong>Щебень фракции: <br>
                        5-20 мм</strong>
                </div>
                <div class="panel-body">
                    <h3 class="panel-title price">1050
                        <span class="price-cents">руб</span>
                    </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Цена за 1 тонну</li>
                    <li class="list-group-item">Цена с учетом НДС</li>
                    <li class="list-group-item">Цена без учета перевалки</li>
                    <li class="list-group-item">
                        Доставка в полувагонах до станций: <br>
                        Аэропорт, Домодедово, Лобня, Силикатная, Сходня, Химки
                    </li>
                    <li class="list-group-item divider"></li>
                    <li class="list-group-item">Поставка с месторождения <br>
                        <strong>"Кузнечное"</strong>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <strong>Щебень фракции: <br>
                        20-40 мм, 40-70 мм</strong>
                </div>
                <div class="panel-body">
                    <h3 class="panel-title price">850
                        <span class="price-cents">руб</span>
                    </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Цена за 1 тонну</li>
                    <li class="list-group-item">Цена с учетом НДС</li>
                    <li class="list-group-item">Цена без учета перевалки</li>
                    <li class="list-group-item">
                        Доставка в полувагонах до станций: <br>
                        Аэропорт, Домодедово, Лобня, Силикатная, Сходня, Химки
                    </li>
                    <li class="list-group-item divider"></li>
                    <li class="list-group-item">Поставка с месторождения <br>
                        <strong>"Кузнечное"</strong>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>
<!-- /.container -->
</div>

<div class="section" id="partners">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <hr>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
