<!-- Page Content -->

<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Щебень
                <small>Информация</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#/home">Главная</a>
                </li>
                <li class="active">Щебень</li>
            </ol>
        </div>

    </div>
    <!-- /.row -->

    <div class="row">

        <div class="col-lg-12">
            <img class="img-responsive" ng-src="{{aggregates}}">
        </div>

    </div>
    <!-- /.row -->

    <!-- Service Paragraphs -->

    <div class="row">

        <div class="col-md-8 col-sm-6 favor">
            <h2 class="page-header">Сертификаты</h2>
            <div class="col-xs-3" ng-repeat="image in certificates">
                    <a ng-click="openLightboxModal($index)">
                        <img ng-src="{{image.thumbUrl}}" class="img-thumbnail img-responsive" alt="" width="300" height="429">
                    </a>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 favor">
            <h2 class="page-header">Заказать Услугу</h2>

            <p>Вы можете оставить заявку прямо сейчас и наши менеджеры свяжутся с вами в кратчайшие сроки</p>
            <a class="btn btn-warning" onclick="alert('Сервис в разработке')">ЗАКАЗАТЬ!</a>
        </div>

    </div>
    <!-- /.row -->

    <!-- Service Tabs -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Виды Щебня</h2>
            <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#service-one" data-toggle="tab">Гранитный</a>
                </li>
                <li><a href="#service-two" data-toggle="tab" >Известняковый</a>
                </li>
                <li><a href="#service-three" data-toggle="tab">Гравийный</a>
                </li>
            </ul>
            <!--<div id="myTabContent" class="tab-content">-->
                <!--<div class="tab-pane fade in active" id="service-one">-->
                    <!--<i class="fa fa-gear pull-left fa-4x"></i>-->

                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum-->
                        <!--dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in-->
                        <!--faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis-->
                        <!--egestas. Etiam placerat nunc ut tellus tristique, non posuere neque iaculis. Fusce aliquet dui-->
                        <!--ut felis rhoncus, vitae molestie mauris auctor. Donec pellentesque feugiat leo a adipiscing.-->
                        <!--Pellentesque quis tristique eros, sed rutrum mauris.</p>-->

                    <!--<p>Nam fringilla quis enim in eleifend. Suspendisse sed lectus mauris. Nam commodo, arcu et posuere-->
                        <!--placerat, tellus tortor dignissim eros, sit amet eleifend urna lorem sit amet nulla. Praesent-->
                        <!--sem nibh, vulputate nec congue eu, dapibus vitae augue. Suspendisse cursus urna sit amet metus-->
                        <!--porttitor, in pharetra quam feugiat. Etiam tempus euismod nulla eget pellentesque.</p>-->
                <!--</div>-->
                <!--<div class="tab-pane fade" id="service-two">-->
                    <!--<i class="fa fa-gears pull-left fa-4x"></i>-->

                    <!--<p>Nam fringilla quis enim in eleifend. Suspendisse sed lectus mauris. Nam commodo, arcu et posuere-->
                        <!--placerat, tellus tortor dignissim eros, sit amet eleifend urna lorem sit amet nulla. Praesent-->
                        <!--sem nibh, vulputate nec congue eu, dapibus vitae augue. Suspendisse cursus urna sit amet metus-->
                        <!--porttitor, in pharetra quam feugiat. Etiam tempus euismod nulla eget pellentesque.</p>-->

                    <!--<p>Vestibulum laoreet molestie urna ac vehicula. Phasellus laoreet semper ipsum ac gravida. Sed in-->
                        <!--varius tortor. Nullam blandit in neque quis aliquet. Fusce volutpat pellentesque sem non-->
                        <!--convallis. Suspendisse sit amet magna pulvinar, gravida mauris eu, tincidunt massa. Nam lectus-->
                        <!--mi, viverra non quam nec, mollis malesuada dolor. Vivamus hendrerit nunc interdum turpis-->
                        <!--egestas, a lobortis odio consequat. Fusce posuere purus quis ligula faucibus lacinia. Curabitur-->
                        <!--sit amet congue dolor. Duis dapibus hendrerit nunc et gravida. Phasellus mollis, lectus quis-->
                        <!--ornare aliquam, arcu orci posuere lectus, vehicula bibendum sem ante quis lacus.</p>-->
                <!--</div>-->
                <!--<div class="tab-pane fade" id="service-three">-->
                    <!--<i class="fa fa-magic pull-left fa-4x"></i>-->

                    <!--<p>Vestibulum laoreet molestie urna ac vehicula. Phasellus laoreet semper ipsum ac gravida. Sed in-->
                        <!--varius tortor. Nullam blandit in neque quis aliquet. Fusce volutpat pellentesque sem non-->
                        <!--convallis. Suspendisse sit amet magna pulvinar, gravida mauris eu, tincidunt massa. Nam lectus-->
                        <!--mi, viverra non quam nec, mollis malesuada dolor. Vivamus hendrerit nunc interdum turpis-->
                        <!--egestas, a lobortis odio consequat. Fusce posuere purus quis ligula faucibus lacinia. Curabitur-->
                        <!--sit amet congue dolor. Duis dapibus hendrerit nunc et gravida. Phasellus mollis, lectus quis-->
                        <!--ornare aliquam, arcu orci posuere lectus, vehicula bibendum sem ante quis lacus.</p>-->

                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum-->
                        <!--dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in-->
                        <!--faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis-->
                        <!--egestas. Etiam placerat nunc ut tellus tristique, non posuere neque iaculis. Fusce aliquet dui-->
                        <!--ut felis rhoncus, vitae molestie mauris auctor. Donec pellentesque feugiat leo a adipiscing.-->
                        <!--Pellentesque quis tristique eros, sed rutrum mauris.</p>-->
                <!--</div>-->
                <!--<div class="tab-pane fade" id="service-four">-->
                    <!--<i class="fa fa-flask pull-left fa-4x"></i>-->

                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum-->
                        <!--dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in-->
                        <!--faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis-->
                        <!--egestas. Etiam placerat nunc ut tellus tristique, non posuere neque iaculis. Fusce aliquet dui-->
                        <!--ut felis rhoncus, vitae molestie mauris auctor. Donec pellentesque feugiat leo a adipiscing.-->
                        <!--Pellentesque quis tristique eros, sed rutrum mauris.</p>-->

                    <!--<p>Nam fringilla quis enim in eleifend. Suspendisse sed lectus mauris. Nam commodo, arcu et posuere-->
                        <!--placerat, tellus tortor dignissim eros, sit amet eleifend urna lorem sit amet nulla. Praesent-->
                        <!--sem nibh, vulputate nec congue eu, dapibus vitae augue. Suspendisse cursus urna sit amet metus-->
                        <!--porttitor, in pharetra quam feugiat. Etiam tempus euismod nulla eget pellentesque.</p>-->
                <!--</div>-->
                <!--<div class="tab-pane fade" id="service-five">-->
                    <!--<i class="fa fa-flag pull-left fa-4x"></i>-->

                    <!--<p>Nam fringilla quis enim in eleifend. Suspendisse sed lectus mauris. Nam commodo, arcu et posuere-->
                        <!--placerat, tellus tortor dignissim eros, sit amet eleifend urna lorem sit amet nulla. Praesent-->
                        <!--sem nibh, vulputate nec congue eu, dapibus vitae augue. Suspendisse cursus urna sit amet metus-->
                        <!--porttitor, in pharetra quam feugiat. Etiam tempus euismod nulla eget pellentesque.</p>-->

                    <!--<p>Vestibulum laoreet molestie urna ac vehicula. Phasellus laoreet semper ipsum ac gravida. Sed in-->
                        <!--varius tortor. Nullam blandit in neque quis aliquet. Fusce volutpat pellentesque sem non-->
                        <!--convallis. Suspendisse sit amet magna pulvinar, gravida mauris eu, tincidunt massa. Nam lectus-->
                        <!--mi, viverra non quam nec, mollis malesuada dolor. Vivamus hendrerit nunc interdum turpis-->
                        <!--egestas, a lobortis odio consequat. Fusce posuere purus quis ligula faucibus lacinia. Curabitur-->
                        <!--sit amet congue dolor. Duis dapibus hendrerit nunc et gravida. Phasellus mollis, lectus quis-->
                        <!--ornare aliquam, arcu orci posuere lectus, vehicula bibendum sem ante quis lacus.</p>-->
                <!--</div>-->
            <!--</div>-->
        </div>

    </div>
    <!-- /.row -->

    <!-- Service Images -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Виды Щебня</h2>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>Щебень гранитный</h3>

            <p>Гранитный щебень – продукт дробления гранитных пород (образование камней различной формы и размера).
                К главным преимуществом гранита относятся: повышенная твердость и низкое водопоглощение.
                Последнее из указанных свойств значимо, особенно, при строительстве бассейнов и фонтанов. Гранит не поддается деформации под влиянием влаги.

               </p>
            <a class="btn btn-link btn-sm pull-right">Читать дальше ... <i class="fa fa-angle-right"></i></a>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>Щебень известняковый</h3>

            <p>Известняк используется в строительстве еще со времен постройки Египетских пирамид.
                Огромные блоки, использованные при их возведении, вырезаны из известняка.
                Он является ударостойким, несмотря на то, что значительно уступает по прочности граниту.
                Главное же достоинство известняка – это его экологическая чистота. В чем она выражается?
                В первую очередь, в том, что он имеет очень низкий уровень радиоактивность в отличие от других пород, в том числе, и гранита.
                Кроме того, известняковый щебень исключительно устойчив к температурным перепадам.
                Эти свойства определяют его преимущественное использование в дорожном строительстве, а также для производства бетона.
                Он также находит применение в строительстве дренажных систем. Другое несомненное достоинство – относительно низкая цена по сравнению с ценами на гранитный или гравийный щебень.

            </p>
            <a class="btn btn-link btn-sm pull-right">Читать дальше ...  <i class="fa fa-angle-right"></i></a>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>Щебень гравийный</h3>

            <p>Щебень гравийный - по цене находится посередине между известняковым и гранитным.
                Высокая устойчивость к механическим нагрузкам и низкий радиоактивный фон.
                Применяется во всех областях строительства.
                Известняковый щебень является уникальным стройматериалом, который экологически чист и обладает положительными свойствами,
                такими, как высокая устойчивость к перепаду температур, выдерживающий до 100 циклов оттаивания и замораживания,
                при этом он не теряет своих прочностных характеристик.</p>
            <a class="btn btn-link btn-sm pull-right">Читать дальше ...  <i class="fa fa-angle-right"></i></a>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
