<!-- Page Content -->
<div id="first">
    <div class="section short-top">
        <div class="container">

            <div class="row">

                <div class="col-lg-12">
                    <h1 class="page-header">ЩЕБЕНЬ
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#/home">Главная</a>
                        </li>
                        <li class="active">Щебень</li>
                    </ol>
                </div>

            </div>
            <!-- /.row -->

            <div class="row">

                <div class="col-lg-12">
                    <img class="img-responsive" ng-src="{{aggregates}}">
                </div>

            </div>
            <!-- /.row -->

            <!-- Service Paragraphs -->
            <div class="row">

                <div class="col-lg-12">
                    <h2 class="page-header" align="center">ВИДЫ ЩЕБНЯ</h2>
                    <uib-tabset id="myTab" active="active">
                        <uib-tab index="0" heading="ГРАНИТНЫЙ">
                            <img class="img-responsive" ng-src="{{granit1200}}">

                            <h3>ЩЕБЕНЬ ГРАНИТНЫЙ</h3>

                            <p>Гранитный щебень – нерудный строительный материал, который извлекается из твердой породы.
                                Монолитная скала представляет собой застывшую магму, которая находится на значительной глубине.
                                При производстве этого строительного материала придерживаются нормативов ГОСТ 8267-93.
                                <br>
                                Фракции этого щебня: 0-5 мм, 5-10 мм, 5-20 мм, 20-40 мм, 40-70 мм, 70-120 мм.
                                Наиболее востребованным на рынке считается гранитный щебень фракции 5-20 мм,
                                применяющийся в производстве бетона и асфальта.

                            </p>

                        </uib-tab>
                        <uib-tab index="1" heading="ИЗВЕСТНЯКОВЫЙ">
                            <img class="img-responsive" ng-src="{{izvest1200}}">

                            <h3>ЩЕБЕНЬ ИЗВЕСТНЯКОВЫЙ</h3>

                            <p>
                                Известняковый щебень – продукт переработки осадочной горной породы, а именно известняка.
                                Этот строительный материал состоит в основном из карбоната кальция (СаСО3) и имеет самую низкую цену.
                                <br>
                                Различают три фракции известнякового щебня – 20-40 мм, 5-20 мм и 40-70 мм.

                            </p>
                        </uib-tab>
                        <uib-tab index="2" heading="ГРАВИЙНЫЙ">
                            <img class="img-responsive" ng-src="{{grav1200}}">

                            <h3>ЩЕБЕНЬ ГРАВИЙНЫЙ</h3>

                            <p>Гравийный щебень – это материал, который производится в результате просеивания карьерной породы или дробления каменной скалы.
                                Основным нормативным документом для производства этого вида щебня является ГОСТ 8267-93.
                                По прочности на сжатие этот вид щебня уступает гранитному материалу.
                                К достоинствам гравийного щебня можно отнести низкий радиационный фон и стоимость.
                                <br>
                                Выделяют два вида этого строительного материала:
                            <ul >
                                <li>гравий – камушки морского или речного происхождения;
                                </li>
                                <li >дробленый щебень, получаемый в результате обработки породы.
                                </li>
                            </ul>
                            <br>
                                Гравийный щебень может быть 4 фракций: 3-10 мм, 5-40 мм, 5-20 мм и 20-40 мм.</p>
                        </uib-tab>
                    </uib-tabset>

                </div>

            </div>


            <!-- /.row -->
        </div>

        <!-- /.container -->
    </div>
</div>


<div class="section" id="partners">
    <!-- Service Tabs -->
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12 favor">
                <h2 class="page-header" align="center">СЕРТИФИКАТЫ</h2>
                <div class="col-xs-3" ng-repeat="image in certificates">
                    <a ng-click="openLightboxModal($index)">
                        <img ng-src="{{image.thumbUrl}}" class="img-thumbnail img-responsive" alt="" width="300"
                             height="429">
                    </a>
                </div>
            </div>

        </div>
    </div>
    <!-- /.row -->
</div>
